.main-text{
    width: 100%;
    position: relative;
    margin-top: 25px;
    font-size: 21px;
    font-weight: 500;
    left: 10%;
}

.text-span{
    width: 110%;
}

.writing-box{
    height: 29px;
    cursor: text;
    background-color:rgb(161, 148, 150);
    color: black;
}

.input-text{
    width: 0.5px;
    height: 0.5px;
    background-color: ghostwhite;
    /* background-color: grey; */
    border-style: none;
}

.input-text:focus {
    outline-style: none;
    outline-color: ghostwhite;
}

.translate-box{
    position: absolute;
    width: 13%;
    height: 20%;
    opacity: 0.9;
    background-color: rgb(51, 68, 105);
    border-radius: 9%;
    display: none
}

.translate-box p {
    color: white;
    text-align: center;
    top: 15%;
}
tbody span{
    cursor: pointer;
}


.answer-text{
    position: relative;
    left: 20%;
    height: 250px;
    width: 60%;
    display: grid;
    grid-template-columns: 440px 640px;
}

.answer-text p{
    font-size: 35px;
}
.rating, .rate-box{
    background-color: aliceblue;
}

